<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>pensionlife</display-name>
	
	<servlet>
	<servlet-name>check_id</servlet-name>
	<servlet-class>sign.check_id</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>check_id</servlet-name>
	<url-pattern>/mweb/view/check_id.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>sign_up</servlet-name>
	<servlet-class>sign.sign_up</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>sign_up</servlet-name>
	<url-pattern>/mweb/view/sign_up.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>sign_in</servlet-name>
	<servlet-class>sign.sign_in</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>sign_in</servlet-name>
	<url-pattern>/mweb/view/sign_in.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>admin_login</servlet-name>
	<servlet-class>sign.admin_login</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>admin_login</servlet-name>
	<url-pattern>/mweb/view/admin_login.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>admin_logout</servlet-name>
	<servlet-class>sign.admin_logout</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>admin_logout</servlet-name>
	<url-pattern>/mweb/view/admin_logout.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>sign_in_auto</servlet-name>
	<servlet-class>sign.sign_in_auto</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>sign_in_auto</servlet-name>
	<url-pattern>/mweb/view/sign_in_auto.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>sign_out</servlet-name>
	<servlet-class>sign.sign_out</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>sign_out</servlet-name>
	<url-pattern>/mweb/view/sign_out.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>find_id</servlet-name>
	<servlet-class>sign.find_id</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>find_id</servlet-name>
	<url-pattern>/mweb/view/find_id.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>change_pw</servlet-name>
	<servlet-class>sign.change_pw</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>change_pw</servlet-name>
	<url-pattern>/mweb/view/change_pw.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>reservation</servlet-name>
	<servlet-class>reservation.room_info</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>reservation</servlet-name>
	<url-pattern>/mweb/view/room_info.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>m_qawrite</servlet-name>
	<servlet-class>qna.m_qawrite</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>m_qawrite</servlet-name>
	<url-pattern>/mweb/view/m_qawrite.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>m_qadel</servlet-name>
	<servlet-class>qna.m_qadel</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>m_qadel</servlet-name>
	<url-pattern>/mweb/view/m_qadel.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>m_qamod</servlet-name>
	<servlet-class>qna.m_qamod</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>m_qamod</servlet-name>
	<url-pattern>/mweb/view/m_qamod.do</url-pattern>
	</servlet-mapping>
	
</web-app>
